*{
	margin: 0px;
	padding: 0px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
}
.wapper{
	width: 100%;
	height: 100%;
}
.title{
	height: 120px;
	width: 100%;
	background: white;
}
.title img{
    width: 450px;
    height: 90px;
	position: relative;
	top: 10px;
	left: 200px;
}
.title p{
	display: inline-block;
	position: relative;
	left: 250px;
	top: -20px;
	font-family: "楷体";
	font-size: 30px;
}
.line{
	width: 53%;
	background: #E5E5E5;
	height: 1px;
	border: 0px;
}
.header{
	width: 800px;
	height: 200px;
	border: 1px solid #E5E5E5;
	margin: 30px auto;
}
.left_a{
	float: left;
	height: 100%;
	width: 25%;
	display: table-cell;
    vertical-align:middle;
}
.middle{
	height: 100%;
	width: 100%;
	/*为什么实现不了垂直居中？
	
	display:table-cell;  
    vertical-align:middle;
    text-align: center; 
   */     
}
.middle img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	vertical-align:middle;
	cursor: pointer;
}
.bei{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 25px;
	cursor: pointer;
	background: url(../images/j.jpg) no-repeat;
	background-size: 100% 100%;
}
.middle img:hover{
    transform:scale(3,3);
	opacity:0;
	transition:all 0.5s ease-in-out;
}
.right_a{
	float: left;
	width: 75%;
	height: 100%;
}
.name{
	font-family: "楷体";
	font-size: 20px;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	display: inline-block;
}
.name:hover{
	color: orange;
	border-bottom:1px solid orange;
}
.art{
	text-align: left;
	font-family: "楷体";
	line-height: 25px;
	font-size: 17px;
	width: 500px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.right_a img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.right_a img:hover{
	opacity: 0.3;
}
.right_a span{
    position: relative;
    left: 0px;
    top: -10px;
    font-family: "楷体";
}
audio{
	position: absolute;
	top: 380px;
	left: 450px;
}
.zan{
	height: 60px;
	width: 150px;
	margin: 0 auto;
}
.pic{
	width: 200px;
	height: 30px;
	position: relative;
	left: 250px;
}
.pic img{
	height: 30px;
	width: 30px;
	margin-left:20px;
	cursor: pointer;
}
.pic img:hover{
	opacity: 0.3;
}
.index{
	height: 40px;
	width: 130px;
	background:white;
	border-radius: 6px 6px;
	position: relative;
	left: 82px;
	top: -75px;
	display:none;
}
.index img{
	height: 30px;
	width: 30px;
	margin-left: 5px;
}
.s1{
	width: 200px;
	height: 20px;
	position: relative;
	left: 250px;
	margin-top: 10px;
}
.s1 span{
	margin-left: 20px;
	font-family: "楷体";
}
.content{
	width: 600px;
	margin: 0 auto;
}
.content p{
	font-family: "楷体";
	font-size: 15px;
	padding-top: 25px;
	line-height: 30px;
}
.main_a{
	height: 450px;
	width: 600px;
	margin: 0 auto;
	position: relative;
	left: 30px;
	top: 50px;

}
.main_a img{
	height: 150px;
	width: 250px;
	margin: 5px;
}
.main_a p{
	font-family: "楷体";
	font-size: 23px;
	position: relative;
	top: -10px;
}
.content_a{
	height: 430px;
	width: 500px;
	margin: 0 auto;
}
.title_a{
    margin:0 auto;
    font-family:"楷体";
    font-size: 30px;
    padding-bottom:25px; 
    border-bottom:10px solid pink;
    width: 480px; 
}
.content_a img{
	display: inline-block;
	margin: 0 auto;
	height: 350px;
	width: 500px;
	padding-top:30px;
	vertical-align:center;
}
.content_a p{
    font-family: "楷体";
    font-size: 18px;
}
.line_a{
	height: 3px;
	color: purple;
	background: black;
	width: 40%;
	margin: 0 auto;
}
.author{
	padding-top: 60px;
	padding-bottom: 50px;
}
.main_b{
	height: 753px;
	width: 600px;
	margin: 0 auto;
	position: relative;
	left: 50px;
}
.main_b img{
	height: 350px;
	width: 500px;
	padding-bottom: 50px;
}
.text_a{
}
.p1{
	height: 50px;
	width: 600px;
	font-family: "楷体";
}
.p2{
	height: 50px;
	width: 600px;
	line-height: 30px;
	font-family: "楷体";
}
.p3{
	height: 70px;
	width: 600px;
	line-height: 30px;
	font-family: "楷体";
}
.p4{
	height: 50px;
	width: 600px;
	line-height: 30px;
	font-family: "楷体";	
}
.main_c{
	margin-top: 50px;
	height: 330px;
}
.line_b{
   width: 60%;
   margin: 0 auto;
   border: 0px;
   height: 1px;
   background: black;
}
.little{
	margin-left: 500px;
	padding: 10px;
	font-family: "楷体";
	font-size: 25px;
}
.t1{
	display: block;
}
.span1{
	margin-left: 550px;
	font-family: "楷体";
	font-size:20px;
	color: orange;
	cursor:pointer;
}
.span2{
	font-family: "楷体";
	font-size:20px;
	cursor:pointer;
}
.span2:hover{
   color: orange;
}
.t1{
	margin-left: 550px;
	height: 150px;
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.p6{
	margin-left: 550px;
	font-family: "楷体";
	font-size:20px;
	cursor:pointer;
}
.p6:hover{
	color: orange;
	border-bottom: 1px solid orange;
}
.inputa{
	margin-left: 340px;
	height: 40px;
	width: 120px;
	font-family: "楷体";
	font-size: 20px;
	outline: none;
	background: orange;
	border-radius: 5px 5px;
	border: 0px;
	color: white;
	cursor: pointer;
}
.inputa:hover{
	background: white;
	color:orange;
	border: 1px solid orange;
}
.main_d{
	width: 500px;
	height: 400px;
	background:white;
	position: fixed;
	top: 100px;
	left: 510px;
	display: none;
	z-index: 99;
}
.t2{
	height: 200px;
	width: 460px;
	margin:50px 20px;
	display: block;
}
.inputb{
	margin-left: 380px;
	height: 35px;
	width: 80px;
	font-family: "楷体";
	font-size: 20px;
	outline: none;
	background: orange;
	border-radius: 3px 3px;
	border: 0px;
	color: white;
	cursor: pointer;
}
.inputb:hover{
	background: white;
	color:orange;
	border: 1px solid orange;
}
.layer{
	background: gray;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:2;
	opacity: 0.4;
}
#footer2{
	height: 250px;
	background: #f5f5f5;
}
.leftside{
	float: left;;
	width: 700px;
	height: 100%;
	position: relative;
	left: 100px;
}
.leftside h3{
	padding-top: 40px;
	padding-bottom: 0px;
	position: relative;
	left: 220px;
	font-family: "Coronet";
	font-size: 25px;
}
.leftside p{
	text-align:left;
	position: relative;
	left: 220px;
	line-height: 30px;
	font-size: 13px;
}
.middleside{
	float: left;
	width: 300px;
	height: 100%;
}
.middleside p{
   text-align: left;
   position: relative;
   top: 60px;
   line-height: 30px;
   font-size: 13px;
   cursor: pointer;
}
.middleside p:hover{
	color: orange;
}
.rightside{
	float: left;
	width: 300px;
	height: 100%;
}
.rightside img{
	height: 50px;
	width: 90px;
	position: relative;
	top: 100px;
}