


.wrap {
   overflow:hidden;
   width:100%;
   height:250px;
}
.list_d {
   position:relative;
   width:200%;
   height:100%;
   list-style:none;
   animation:mymove 5s infinite linear;
}
.list_d img {
   width:300px;
   height:250px;
   float:left;
   vertical-align:middle;
}
/*使list_d的left值从0变成-1520px，不断的去循环*/
   @-webkit-keyframes mymove {   
   from {
   left:0px;
   }
   to {
   left:-1520px;
  }
}





.box {
   width:150px;
   height:150px;
   position:relative;
   float: left;
   margin-right:30px; 
}
.box img{
	height: 150px;
	width: 150px;
}
.box div {
   width:100%;
   height:100%;
   transition:all 0.3s;
   position:absolute;
   top: 0px;
   left: 0px;
   backface-visibility:hidden;    /* css3中可以设置元素背对用户时不显示 */
}
.box div:nth-child(1) {
   transform:rotateY(180deg);    /* 默认情况下这张图需要背对用户 */
}

/* 鼠标移上大盒子的时候我们需要让它下面的二个子div都旋转 */

.box:hover div:nth-child(1) {
   transform:rotateY(0deg);
}
.box:hover div:nth-child(2) {
   transform:rotateY(180deg);
}